<!-- search.ejs -->
<title>Issue Tracker</title>
<h2>Search Results</h2>
<div class="container">

<% if (searchResults.length > 0) { %>
  <ul>
    <% searchResults.forEach(project => { %>
      <li>
        <h3 style="background-color: rgb(53, 52, 52); color: white;"><%= project.name %></h3>
        <p>Author: <%= project.author %></p>
        <p>Description: <%= project.description %></p>
        <!-- Display other project details as needed -->
        <a href="/container/<%= project._id %>">View Details</a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No results found.</p>
<% } %>
</div>
