<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
</head>
<body>
    <form class="example" action="/search-Title" method="POST" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search by title or description" name="name">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
</body>
</html>